[Unit]
Description=Runs the CircleCI RAG example app
After=network.target

[Service]
# User=circleci
WorkingDirectory=/home/circleci/rag-app
ExecStart=/bin/bash -c "source /home/circleci/rag_app/venv/bin/activate && flask --app rag/app run"
Restart=always

[Install]
WantedBy=multi-user.target