[Unit]
Description=Runs the CircleCI RAG example app
After=network.target

[Service]
# User=circleci
WorkingDirectory=/var/rag-app/app
ExecStart=/bin/bash -c "source /var/rag_app/app/venv/bin/activate && flask --app rag/app run"
Restart=always

[Install]
WantedBy=multi-user.target