[Unit]
Description=Runs the CircleCI RAG example app
After=network.target

[Service]
User=rag-app-user
WorkingDirectory=/var/rag-app
ExecStart=/bin/bash -c "source /var/rag_app/venv/bin/activate && flask --app rag/app run"
Restart=always

[Install]
WantedBy=multi-user.target